<!--
  Copyright 2016 The Cartographer Authors

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<launch>
  <param name="/use_sim_time" value="true" />

  <node name="rviz" pkg="rviz" type="rviz" required="true"
    args="-d $(find cartographer_kitti_config)/configuration_files/kitti_3d_new.rviz">
  </node>

  <node name="cartographer_offline_node" pkg="cartographer_ros"
      type="cartographer_offline_node" args="
          -configuration_directory $(find cartographer_kitti_config)/configuration_files
          -configuration_basenames kitti_3d_modi.lua
          -bag_filenames $(arg bag_filenames)"
      output="screen">
    <remap from="imu" to="/kitti/oxts/imu" />
    <remap from="points2" to="/kitti/velo/pointcloud" />
    <remap from="/tf" to="/tf_in" />
  </node>

  <node name="tf_remove_frames" pkg="cartographer_ros"
      type="tf_remove_frames.py">
    <remap from="tf_out" to="/tf" />
    <rosparam param="remove_frames">
      - world
    </rosparam>
  </node>
  
  <!-- <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.2" /> -->
</launch>
